body {
  width: 100%;
  padding-top: 40px;
div{
  width: 100%;
}
}
.background{
  position: absolute;
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.Menu{

  text-align: center;
  padding-top: 2%;

}

.title-word {
  font-style: italic;
  margin: auto 15% auto;
  padding-bottom: 50px;
  font-weight:bolder;
  font-size: 61px;
  font-family: 'Lobster', cursive;
  color: red;
}
.Joyfull{
}
#wpdevar_comment_1{
  background: white;
  font-color:#red;
}
.Sub{
  font-size: 35px;
  padding: 40px 0px 40px 0px;

  font-weight: bolder;
}
.Desc-box{
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-bottom: 5%;
}
.Description-title {

  color: #43d8c9 ;
  font-size: 25px;
  font-family: 'Bree Serif', serif;
  font-weight: bolder;
  font-size: 35px;
  padding: 40px 15% 10px 15%;
}
.Description {
  font-family: 'Gloria Hallelujah', cursive;
  color: white;
  margin: auto 10%;
}
.body-section{
  margin-bottom: 5%;
}

.Testimonial-section{
  padding: 5%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}
.carousel-title{
  color: white;
}
.carousel{
    color: white;
  ;
}
.Panjang{
  margin: auto auto auto auto;
  font-size: 20px;
}
.Pendek{
  margin: auto 30%;
  font-size: 20px;
}
.Testimonial-caption{
  margin:auto 15%;
  font-size: 20px;
}
.shafa{
  margin:auto 15%;
  font-size: 20px;
}

.carousel-item{
position: absolute;
}
.Testimonial-img{
  padding-top: 5%;
  padding-bottom: 3%;
  text-align: center;
  border-radius: 100%;
  width: 15%;
  height: 15%;
}
.Footer{
  width: 100%;
  position: absolute;
  color: white;
  margin: 10% auto auto auto;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
}
.CONTACT{
  padding-top: 3%;
}
.CONTACT-title{
  font-size:20px;
  margin-bottom: 3%;
}
.Contact-info{
  font-size: 15px;
}
.copyright {
  font-size: 13px;
}
@media (max-width: 900px) {
  .Description-title{
    font-size: 40px;
  }
  .Description{

  font-size: 17px;
  }

  .Testimonial-img{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    border-radius: 100%;
    width: 25%;
    height: 25%;

}
.CONTACT-title{
  font-size: 15px;
}
.Contact-info{
  font-size: 1opx;
}
.copyright {
  font-size: 8px;
}
.Panjang{
  margin: auto 20% auto;
  font-size: 15px;}
.shafa{
  margin-bottom: 48px;
}
.Testimonial-caption{
  margin-bottom: 18px;
}
.Pendek{
  margin-bottom: 18px;
}
