body {
color : #005082;
 font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
margin : 0px;
text-align : center;
padding :0px;
font-family : sans-serif;
 background-color:#b2ebf2;}
.tutup{
margin-left:450px;
margin-top: 20px;
width :30%;
padding-top :20px;
padding-bottom : 0px;}
h1{font-style:italic; font-family: Papyrus, fantasy;
color : #ff5722;}
h2 {
color : #dd2c00;
font-size : 40px;
margin:20px;
margin-top :50px;}
.BOK {font-family: Papyrus, fantasy; font-size : 40px; font-weight: bold;
color:#feb72b;}
.Profile-Pict{
position :absolute;
top : 40px;
left :80px;
border: thick double #f4e04d;
width: 110px;
      height: 140px;
      border-radius: 50%;
}
.TopSection{
background-color : #00bcd4;
padding-top: 100px;
margin :0px;
}
.menu {
position: absolute;
top: 40px;
right:80px;
}
.sun{
position:absolute;
top: 80px;
right : 0px;
       width: 110px;
      height: 140px;}

span{
font-size : 20px;
margin-left:20px;
}
.Volcano{
 width: 100%;
  height: 400px;
  margin-top: 100px}

 .MidSection{
 height:1000px;
 padding-top : 80px;
 padding-bottom : 2000px
  margin: 0px;


 }
 .Profile-Pict2 {
 border : thick double #00bcd4;
 padding : 5px;
 width: 300px;
       height: 300px;
       border-radius: 50%;
       margin-bottom : 80px:
 }
 Menu {
 margin-right:0px;}
 p{
 margin:auto;
 width : 650px;
 font-size: 30px;}
 hr{
 background-color : #00bcd4;
 margin : 0px;
 margin-top :100px;
 border-color :#fcbf1e;
 border-top-style: dotted;
 border-top-width: 15px;
 }
 h1 { font-size :60px;}
 .Pendidikan{
 position:absolute;
 left:50px}
 .p2{ align : left
 top-margin: 50px;
 display : inline;
 position:absolute;
 left: 450px;}
.rp{
align:left;
position:relative;
right: 30px;
}
.Pendidikan{
height: 230px;}
.Organisasi{
align: left;
position:absolute;
top : 400 px;
left: 50px;
 font-size: 30px
}
.organ{
position:absolute;
left :800px;
bottom: -70px;
height:350px;
}
.ki{ align:left;
margin :0px;
position: absolute;
top: 2500px;
  width : 100%;
  height: 500px;
left : 0px;}
.IT {
position : absolute;
top : 2550px;
right: 900px;

}
.bawah{
position:absolute;
top:450px;
margin-top: 0px;
padding:0px;
width: 100%;}

.BotSection{
background-color:#40bad5;
margin :0px;
padding : 0px;
padding-bottom :20px;
width: 100%;
position: absolute;
top: 3000px;}
.K{
display: block;
position:absolute;
left:450px;
top: 250px;
}
.kit {
position: relative;
top: 150px;
left : 430px;}
.Medsos {
padding-top : 20px;
padding-bottom: 0px;
font-size: 25px;}
.Terakhir {
visibility : hidden;
font-color: #b2ebf2;
position : absolute;
top : 3300px;
 background-color:#b2ebf2;}
padding-top : 20px;
height : 100px;
width :100%;}
